*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  text-transform: capitalize;
}

body {
  background-color: #efefef;
  box-sizing: border-box;
  color: #404041;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #404041;
  height: 13rem;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  color: #DD1972;
  font-size: 4.5rem;
  letter-spacing: .5rem;
  padding-top: 2.5rem;
}

.header__title--verb {
  font-weight: 300;
}

.header__subtitle {
  color: #FFF;
  font-weight: 300;
  letter-spacing: .2rem;
}

.header__subtitle:before,
.header__subtitle:after {
  border-bottom: 1px solid;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8rem;
}

.game-container {
  display: flex;
}

.main {
  background-color: #f7f7f7;
  height: 100%;
  width: 50%;
}

.section {
  border: 2px solid #6e6e6e;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
  padding: .5rem 1rem;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section__title {
  color: #404041;
  font-size: 1.7rem;
  font-weight: 700;
  width: 100%;
}

.section__form {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.section__form--btn {
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  height: 3.1rem;
  text-transform: uppercase;
  width: 30%;
}

.section__form--btn:focus,
.section__form--btn:hover {
  background-color: #dd1972;
}

#section__form--clear-btn-js:disabled,
#section__form--reset-btn-js:disabled {
  background-color: #d0d2d3;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%
}

.button--update {
  width: 25%;
}

#main__section--range {
  flex-wrap: wrap;
  height: 12rem;
}

#main__section--current-guess {
  flex-wrap: wrap;
  height: 35rem;
}

.section__form--label {
  display: block;
  font-size: 1.2rem;
}

.section__form--min,
.section__form--max {
  height: 3.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.section__current-range {
  font-size: 1.3rem;
  margin: .5rem 0 1rem 0;
  width: 100%;
}

.section__current-range--num {
  font-weight: 700;
  text-decoration: underline;
}

.min-range-container,
.max-range-container {
  display: inline-block;
  flex-basis: 33%;
}

.max-range-container {
  margin-left: 1rem;
}

.section__form--challenger-name {
  height: 3.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.section__form--guess {
  height: 3.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.error-message {
  color: #DD1972;
  text-transform: none;
  visibility: hidden;
}

.error-message::before {
  background-image: url(./assets/warning-icon.png);
  background-size: 1rem;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;
}

.main__section--challenger-name {
  flex-basis: 63%;
}

.main__section--challenger-guess {
  flex-basis: 30%
}

.main__section--latest-score {
  display: flex;
  margin: 0 auto;
  min-height: 10rem;
  width: 100%;
}

#section__latest-score-container-js {
  display: none;
  height: 20rem;
}

.section__guess-feedback-container {
  flex-basis: 50%;
  text-align: center;
}

.section__guess-feedback-container--actual-guess {
  color: #dd1972;
  font-size: 6rem;
  font-weight: 700;
}

.section__guess--challenger-name {
  font-weight: 700;
  font-size: 1.5rem;
}

.section__guess-feedback-container--guess-feedback,
.section__guess-feedback-container--current-guess {
  text-transform: lowercase;
}

.section__guess-feedback-container--current-guess {
  font-size: 1.2rem;
}

.winner-card__container {
  display: flex;
  justify-content: center;
  width: 50%;
}

/*Card appended after submit clicked
*/
.winner-card {
  border: 2px solid #6e6e6e;
  background-color: #fff;
  color: #6e6e6e;
  flex-basis: 90%;
  font-size: 1.2rem;
  height: 33%;
  margin: 1rem;
  text-align: center;
  text-transform: lowercase;
  width: 90%;
}

.card-line {
  margin: 2rem auto;
  width: 85%;
}

.card-winner,
.card-challenger-winner {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-winner {
  font-weight: 300;
  margin: -1rem 0 1rem 0;
}

.card-challenger {
  font-weight: 700;
  text-transform: capitalize;
}

.card-name {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-around;
  margin: .7rem;
  width: 100%;
}

#card-delete {
  float: right;
  margin-right: 2.5rem;
  height: 35px;
  width: 35px;

/* Media Queries */

@media (max-width: 950px) {
  .section__form--btn {
    font-size: 1.3rem;
  }
}

@media (max-width: 805px) {
  .section__form--btn {
    font-size: 1.1rem;
  }
}

@media (max-width: 725px) {
  .section__form--btn {
    font-size: 1rem;
  }
}

@media (max-width: 624px){
  .header {
    display: flex;
    flex-direction: column;
    height: 8rem;
  }

  .header__title {
    font-size: 2.25rem;
    padding-top: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
  }

  .header__subtitle:before,
  .header__subtitle:after {
    width: 2.25rem;
  }

  .game-container {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .section__for--btn {
    font-size: 1.2rem;

  }
}

@media (max-width: 320px){
  .header {
    display: flex;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
  }

  .game-container {
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .section__form--btn {
    font-size: 0.6rem;
  }
}
