*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  text-transform: capitalize;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #404041;
  height: 13rem;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  color: #DD1972;
  font-size: 4.5rem;
  letter-spacing: .5rem;
  padding-top: 2.5rem;
}

.header__title--verb {
  font-weight: 300;
}

.header__subtitle {
  color: #FFF;
  font-weight: 300;
  letter-spacing: .2rem;
}

.header__subtitle:before,
.header__subtitle:after {
  border-bottom: 1px solid;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8rem;
}

main {
  background-color: #f7f7f7;
  height: 100%;
  width: 50%;
}

section {
  border: 2px solid #6e6e6e;
  display: flex;
  margin: 5px;
}

.section__title {
  color: #404041;
  font-weight: 700;
}

.section__form--btn {
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  height: 20px;
  padding-bottom: .1rem;
  text-transform: uppercase;
  width: 100px;
}

.section__form--btn:focus,
.section__form--btn:hover {
  background-color: #dd1972;
}

#main__section--range {
  height: 7rem;
  position: relative;
}

#main__section--current-guess {
  height: 30rem;
}

#main__section--latest-score {
  height: 15rem;
}

.section__form--min,
.section__form--max {
/*  position: absolute;
  right:;
    top:;*/
  width: 100px;
}

.section__current-range--min,
.section__current-range--max {
  font-weight: 700;
  text-decoraton: underline; 
}
