*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  text-transform: capitalize;
}

body {
  background-color: #efefef;
  box-sizing: border-box;
  color: #404041;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #404041;
  height: 13rem;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  color: #DD1972;
  font-size: 4.5rem;
  letter-spacing: .5rem;
  padding-top: 2.5rem;
}

.header__title--verb {
  font-weight: 300;
}

.header__subtitle {
  color: #FFF;
  font-weight: 300;
  letter-spacing: .2rem;
}

.header__subtitle:before,
.header__subtitle:after {
  border-bottom: 1px solid;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8rem;
}

main {
  background-color: #f7f7f7;
  height: 100%;
  width: 50%;
}

section {
  border: 2px solid #6e6e6e;
  background-color: #fff;
  /*display: flex;*/
  margin: .5rem;
  padding: .5rem 1rem;
}

.section__title {
  color: #404041;
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
}

.section__form--btn {
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.1rem;
  padding-bottom: .1rem;
  text-transform: uppercase;
  width: 16rem;
}

.section__form--btn:focus,
.section__form--btn:hover {
  background-color: #dd1972;
}

#section__form--clear-btn-js:disabled,
#section__form--reset-btn-js:disabled {
  background-color: #d0d2d3;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  width: 100%
}

.button--update {
  margin-left: 3.5rem;
  width: 11rem;
}

#main__section--range {
  flex-wrap: wrap;
  height: 9rem;
}

#main__section--current-guess {
  /*display: block;*/
  flex-wrap: wrap;
  height: 30rem;
}

#main__section--latest-score {
  height: 15rem;
}

.section__form--label {
  display: block;
  font-size: 1.2rem;
}

.section__form--min,
.section__form--max {
  height: 2.5rem;
  width: 14rem;
}

.section__current-range {
  font-size: 1.2rem;
  margin: .5rem 0 1rem 0;
  width: 100%;
}

.section__current-range--min,
.section__current-range--max {
  font-weight: 700;
  text-decoration: underline;
}

.min-range-container,
.max-range-container {
  display: inline-block;
}

.max-range-container {
  margin-left: 1rem;
}

.section__form--challenger-name {
  height: 2.5rem;
  width: 22rem;
}

.section__form--guess {
  height: 2.5rem;
  width: 14rem;
}

.error-message {
  color: #DD1972;
  text-transform: none;
}

.error-message::before {
  background-image: url(./assets/warning-icon.png);
  background-size: 1rem;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;
}

.main__section--challenger-name,
.main__section--challenger-guess {
  display: inline-block;
}

.main__section--latest-score {
  display: flex;
  margin: 0 auto;
}

/*.latest-score-divider {
  height: 4rem;
  width: 1px;
}*/

.section__guess-feedback-container {
  flex: 0 1 calc(50% - 1em);
  text-align: center;
}

.section__guess-feedback-container--actual-guess {
  color: #dd1972;
  font-size: 4rem;
  font-weight: 700;
}

.section__guess--challenger-name {
  font-weight: 700;
}

.section__guess-feedback-container--guess-feedback,
.section__guess-feedback-container--current-guess {
  text-transform: lowercase;
}

/*.winner-card__container {
  background-color: #404041;
}*/
